**/target/**
**/.git/**
**/.gitignore
**/.vscode/**
**/.idea/**
**/*.md
**/node_modules/**
**/logs/**
**/*.log
**/*.tmp
**/.DS_Store
**/Thumbs.db
**/*.bat
**/*.ps1
**/grafana_data/**
**/prometheus_data/**
**/mysql_data/**
**/redis_data/**
**/rabbitmq_data/**
dist/node_modules/
*.exe
*.msi